<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="header-module">
    <h1>Categorias</h1>
    <button
      mat-fab
      color="primary"
      aria-label="btn to press ok"
      (click)="onAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <mat-card
      class="mt-3 animate__animated animate__fadeIn zoom"
      *ngFor="let category of categories"
    >
      <mat-card-content>
        <app-form-category
          [category]="category"
          (updateList)="updateList($event)"
          (deleteElement)="onRemove($event)"
        ></app-form-category>
      </mat-card-content>
    </mat-card>
  </div>
</div>
