<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="header-module">
    <h1>Usuarios</h1>
    <button
      mat-fab
      color="primary"
      aria-label="btn to press ok"
      (click)="onAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <mat-card class="mt-3 animate__animated animate__fadeIn zoom" *ngFor="let user of users">
      <mat-card-content>
        <app-item-property [user]="user" (updateList)="updateList($event)" (deleteElement)="onRemove($event)"></app-item-property>
      </mat-card-content>
    </mat-card>
  </div>
</div>
