.header-module {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  padding: 10vh;    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
}
